<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="viewport" content="user-scalable=no, width=device-width"/>
<meta name="format-detection" content="telephone=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="wap-font-scale" content="no"/>
<title>{{ title | default('官方网站') }}</title>
<meta name="description" content="{{ description|default('') }}"/>
<meta name="keywords" content="{{ keywords|default('') }}"/>
<meta property="og:title" content="{{ title|default('官方网站') }}">
<meta property="og:description" content="{{ description | default('') }}">
<link href="{{ "#{themePath}img/ico.ico" }}" type="image/x-icon" rel="icon">