{% set carousel = carousel() | default(null) %}
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        {% if carousel %}
            {% for item in carousel %}
                <div class="owl-carousel-item position-relative" data-dot="<img src='{{ item.image }}'>">
                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.title }}">
                    <div class="owl-carousel-inner">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown">{{ item.title }}</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-3">{{ item.description }}</p>
                                    <a href=""
                                       class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">阅读更多</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>