{% extends 'base.twig' %}

{% block content %}
    {% include 'header.twig' %}
    {% set cases = fetchArticleByCategory(['solar panels', 'wind', 'hydropower'],6) | default(null) %}
    {% set cases = cases | sort((a,b) => a.category_code <=> b.category_code ) %}
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Projects</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">首页</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">页面</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">项目</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">项目案例</h6>
                <h1 class="mb-4">访问我们最新的太阳能和可再生能源项目</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">
                        <li class="mx-2 active" data-filter="*">全部案例</li>
                        <li class="mx-2" data-filter=".first">太阳能电池板</li>
                        <li class="mx-2" data-filter=".second">风力发电</li>
                        <li class="mx-2" data-filter=".third">水里发电</li>
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                {% if cases %}
                    {% for row in cases | batch(3) %}
                        {% for item in row %}
                            {% set categoryCode = item.category_code %}
                            {% if categoryCode == 'solar panels' %}
                                {% set categoryIndex = 'first' %}
                            {% elseif categoryCode == 'wind' %}
                                {% set categoryIndex = 'second' %}
                            {% elseif categoryCode == 'hydropower' %}
                                {% set categoryIndex = 'third' %}
                            {% endif %}
                            <div class="col-lg-4 col-md-6 portfolio-item {{ categoryIndex }}">
                                <div class="portfolio-img rounded overflow-hidden">
                                    <img class="img-fluid" src="{{ item.cover_image }}" alt="">
                                    <div class="portfolio-btn">
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                           href="{{ item.cover_image }}" data-lightbox="portfolio"><i
                                                    class="fa fa-eye"></i></a>
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <p class="text-primary mb-0">{{ item.title }}</p>
                                    <hr class="text-primary w-25 my-2">
                                    <h5 class="lh-base">{{ item.summary | slice(0,36) ~ '...' }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container quote px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="/img/quote.jpg"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h6 class="text-primary">Free Quote</h6>
                        <h1 class="mb-4">Get A Free Quote</h1>
                        <p class="mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
                            amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat
                            amet</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Name"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Your Email"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Mobile"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;">
                                        <option selected="">Select A Service</option>
                                        <option value="1">Service 1</option>
                                        <option value="2">Service 2</option>
                                        <option value="3">Service 3</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" placeholder="Special Note"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">客户评价</h6>
                <h1 class="mb-4">听听他们的声音！</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-1.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>我们公司自从采用SolarTec太阳能的解决方案后，不仅实现了显著的能源成本节省，还成功减少了碳足迹。其高效可靠的太阳能面板与智能化能源管理系统完美结合，
                            使我们的运营更加绿色且可持续。售后服务团队的专业支持更是让人印象深刻，他们总能在我们需要的时候提供及时、有效的帮助。
                            选择SolarTec作为我们的可再生能源合作伙伴，无疑是明智之举。</p>
                        <h5 class="mb-1">王芳</h5>
                        <span class="fst-italic">某大型制造企业首席执行官</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-2.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>在转向可再生能源的过程中，SolarTec太阳能公司的咨询服务和技术实力为我们提供了巨大支持。他们的专家团队深入理解我们的能源需求，
                            并定制了一套既符合经济效益又兼顾环保责任的光伏电站方案。安装过程高效有序，项目完成后，我们的能源自给率大幅提升，
                            对环境的影响大幅降低。我们对合作成果非常满意。</p>
                        <h5 class="mb-1">张华</h5>
                        <span class="fst-italic">某高科技园区能源管理部门主任</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-3.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>作为一家致力于实现零碳排放的零售连锁企业，我们对供应商的选择极其严格。SolarTec太阳能凭借其创新的产品线、
                            严谨的项目管理和出色的后期运维服务，赢得了我们的信赖。他们的太阳能系统稳定高效，大大降低了我们的能耗成本，
                            助力我们在行业中树立了绿色商业的典范。与SolarTec的合作是我们向可持续未来迈进的重要里程碑。</p>
                        <h5 class="mb-1">李明</h5>
                        <span class="fst-italic">某全国性零售集团可持续发展总监</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.twig' %}
{% endblock %}