{% extends 'base.twig' %}

{# CSS #}
{% block css %}
    {{ parent() }}
    <link href="/js/layui-v2.9.8/css/layui.css" rel="stylesheet">
{% endblock %}

{# 主体 #}
{% block content %}
    {% include 'header.twig' %}
    {% set services = articles('service',false,6) | default(null) %}
    {% set cases = fetchArticleByCategory(['solar panels', 'wind', 'hydropower'],6) | default(null) %}
    {% set cases = cases | sort((a,b) => a.category_code <=> b.category_code ) %}
    {% set team = team(3) | default(null) %}
    {% include 'carousel.twig' %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">3453</h1>
                    </div>
                    <h5 class="mb-3">服务客户</h5>
                    <span>携手数千家企业与个人，共同点亮绿色未来，为客户提供专业可再生能源服务。</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">4234</h1>
                    </div>
                    <h5 class="mb-3">完成项目</h5>
                    <span>见证并推动了世界范围内可再生能源基础设施的规模化建设与发展。</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">3123</h1>
                    </div>
                    <h5 class="mb-3">获奖</h5>
                    <span>荣誉满载，屡获认可，我们在国内外斩获多项重要奖项，彰显了公司在太阳能与可再生能源领域的卓越成就与领先地位。</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">1831</h1>
                    </div>
                    <h5 class="mb-3">专家工人</h5>
                    <span>凝聚力量，智慧前行，拥有经验丰富、技艺精湛的专业人才，他们是推动公司技术和项目执行能力不断提升的核心动力。</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/about.jpg"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h6 class="text-primary">关于我们</h6>
                        <h1 class="mb-4">25年以上太阳能和可再生能源行业经验</h1>
                        <p>
                            自二十多年前投身于可再生能源领域以来，我们始终致力于推动太阳能技术的革新与应用，并以此为核心，不断拓展涵盖各类可再生能源解决方案的综合服务体系。作为行业的先驱者和领导者，我们积累了超过25年的深厚专业经验，见证了全球能源转型的重要历程。凭借对可持续发展的坚定承诺和卓越的工程技术实力，我们成功打造了一系列高效、可靠的太阳能系统项目，并广泛涉足风能、生物质能、地热能等多种可再生能源形式的开发与集成。</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>25年专业积淀，提供定制清洁能源解决方案与全程技术支持。
                        </p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>多元整合可再生能源，实现最优项目设计与高性价比。
                        </p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>持续创新与卓越服务，引领行业发展，保障客户长期价值与可持续成果。
                        </p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 mt-3">探索更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">我们的服务</h6>
                <h1 class="mb-4">我们是可再生能源领域的先锋</h1>
            </div>
            <div class="row g-4">
                {% if services %}
                    {% for row in services | batch(3) %}
                        {% for item in row %}
                            {% set index = loop.index %}
                            {% set dataDelay = '0.1' %}
                            {% set icon = 'fa-solar-panel' %}
                            {% if index % 2 == 0 %}
                                {% set dataDelay = '0.3' %}
                                {% set icon = 'fa-wind' %}
                            {% elseif index % 3 == 0 %}
                                {% set dataDelay = '0.5' %}
                                {% set icon = 'fa-lightbulb' %}
                            {% endif %}
                            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="{{ dataDelay ~ 's' }}">
                                <div class="service-item rounded overflow-hidden">
                                    <img class="img-fluid" src="{{ item.cover_image }}" alt="">
                                    <div class="position-relative p-4 pt-0">
                                        <div class="service-icon">
                                            <i class="fa {{ icon }} fa-3x"></i>
                                        </div>
                                        <h4 class="mb-3">{{ item.title }}</h4>
                                        <p>{{ item.summary | slice(0,50) ~ '...' }}</p>
                                        <a class="small fw-medium" href="">阅读更多<i
                                                    class="fa fa-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <h6 class="text-primary">为什么选择我们！</h6>
                        <h1 class="mb-4">完整的商业和住宅太阳能系统</h1>
                        <p class="mb-4 pb-2">
                            依托业内资深专家团队，我们不仅提供顶级太阳能产品，更确保项目规划、实施与维护的全程专业指导，确保您的投资安全与价值最大化。</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="mb-0">优质</p>
                                        <h5 class="mb-0">服务</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-user-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="mb-0">专业</p>
                                        <h5 class="mb-0">团队</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-drafting-compass text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="mb-0">免费</p>
                                        <h5 class="mb-0">咨询</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-headphones text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="mb-0">客户</p>
                                        <h5 class="mb-0">关怀</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/feature.jpg"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">项目案例</h6>
                <h1 class="mb-4">访问我们最新的太阳能和可再生能源项目</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">
                        <li class="mx-2 active" data-filter="*">全部案例</li>
                        <li class="mx-2" data-filter=".first">太阳能电池板</li>
                        <li class="mx-2" data-filter=".second">风力发电</li>
                        <li class="mx-2" data-filter=".third">水里发电</li>
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                {% if cases %}
                    {% for row in cases | batch(3) %}
                        {% for item in row %}
                            {% set categoryCode = item.category_code %}
                            {% if categoryCode == 'solar panels' %}
                                {% set categoryIndex = 'first' %}
                            {% elseif categoryCode == 'wind' %}
                                {% set categoryIndex = 'second' %}
                            {% elseif categoryCode == 'hydropower' %}
                                {% set categoryIndex = 'third' %}
                            {% endif %}
                            <div class="col-lg-4 col-md-6 portfolio-item {{ categoryIndex }}">
                                <div class="portfolio-img rounded overflow-hidden">
                                    <img class="img-fluid" src="{{ item.cover_image }}" alt="">
                                    <div class="portfolio-btn">
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                           href="{{ item.cover_image }}" data-lightbox="portfolio"><i
                                                    class="fa fa-eye"></i></a>
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <p class="text-primary mb-0">{{ item.title }}</p>
                                    <hr class="text-primary w-25 my-2">
                                    <h5 class="lh-base">{{ item.summary | slice(0,36) ~ '...' }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container quote px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/quote.jpg"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h6 class="text-primary">免费报价</h6>
                        <h1 class="mb-4">获取免费报价</h1>
                        <p class="mb-4 pb-2">欢迎来到我们的免费报价页面，这里为您提供便捷、透明的太阳能及可再生能源解决方案定制报价服务。
                            我们理解每一位客户的需求都是独一无二的，因此，我们竭诚为您提供个性化、精准的报价，帮助您轻松迈出向清洁、可持续能源转型的步伐。</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="姓名" id="name"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="电子邮箱" id="email"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="手机号码" id="phone"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;">
                                        <option selected="">选择一项服务</option>
                                        <option value="1">太阳能</option>
                                        <option value="2">风力发电</option>
                                        <option value="3">水力发电</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" placeholder="特别说明"
                                              id="content"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary rounded-pill py-3 px-5" lay-submit
                                            lay-filter="submit" type="submit">提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">团队成员</h6>
                <h1 class="mb-4">经验丰富的团队成员</h1>
            </div>
            <div class="row g-4">
                {% if team %}
                    {% for item in team %}
                        {% set index = loop.index %}
                        {% set delay = '0.1' %}
                        {% if index % 2 == 0 %}
                            {% set delay = '0.3' %}
                        {% elseif index % 3 == 0 %}
                            {% set delay = '0.5' %}
                        {% endif %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="{{ delay ~ 's' }}">
                            <div class="team-item rounded overflow-hidden">
                                <div class="d-flex">
                                    <img class="img-fluid w-75" src="{{ item.profile_image }}" alt="">
                                    <div class="team-social w-25">
                                        <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                                           href="https://www.facebook.com/"><i
                                                    class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                                           href="https://twitter.com/"><i
                                                    class="fab fa-twitter"></i></a>
                                        <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                                           href="https://www.instagram.com/"><i
                                                    class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5>{{ item.name }}</h5>
                                    <span>{{ item.job_title }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">客户评价</h6>
                <h1 class="mb-4">听听他们的声音！</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-1.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>我们公司自从采用SolarTec太阳能的解决方案后，不仅实现了显著的能源成本节省，还成功减少了碳足迹。其高效可靠的太阳能面板与智能化能源管理系统完美结合，
                            使我们的运营更加绿色且可持续。售后服务团队的专业支持更是让人印象深刻，他们总能在我们需要的时候提供及时、有效的帮助。
                            选择SolarTec作为我们的可再生能源合作伙伴，无疑是明智之举。</p>
                        <h5 class="mb-1">王芳</h5>
                        <span class="fst-italic">某大型制造企业首席执行官</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-2.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>在转向可再生能源的过程中，SolarTec太阳能公司的咨询服务和技术实力为我们提供了巨大支持。他们的专家团队深入理解我们的能源需求，
                            并定制了一套既符合经济效益又兼顾环保责任的光伏电站方案。安装过程高效有序，项目完成后，我们的能源自给率大幅提升，
                            对环境的影响大幅降低。我们对合作成果非常满意。</p>
                        <h5 class="mb-1">张华</h5>
                        <span class="fst-italic">某高科技园区能源管理部门主任</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-3.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>作为一家致力于实现零碳排放的零售连锁企业，我们对供应商的选择极其严格。SolarTec太阳能凭借其创新的产品线、
                            严谨的项目管理和出色的后期运维服务，赢得了我们的信赖。他们的太阳能系统稳定高效，大大降低了我们的能耗成本，
                            助力我们在行业中树立了绿色商业的典范。与SolarTec的合作是我们向可持续未来迈进的重要里程碑。</p>
                        <h5 class="mb-1">李明</h5>
                        <span class="fst-italic">某全国性零售集团可持续发展总监</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.twig' %}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        layui.use(function () {
            const form = layui.form;
            const layer = layui.layer;
            const $ = layui.jquery;
            form.on('submit(submit)', function () {
                const name = $('#name').val();
                const email = $('#email').val();
                const phone = $('#phone').val();
                const content = $('#content').val();
                if (!name) {
                    layer.msg('请输入姓名', {icon: 0});
                    return false;
                }
                if (!email) {
                    layer.msg('请输入电子邮箱', {icon: 0});
                    return false;
                }
                if (!phone) {
                    layer.msg('请输入手机号码', {icon: 0});
                    return false;
                }
                const url = '/api/open/message'
                const data = {
                    subject: '获取免费报价',
                    name: name,
                    email: email,
                    phone: phone,
                    content: content,
                    source: 'website',
                    registrationEntry: 'home'
                }
                $.post({
                    url: url,
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res, status) {
                        if (status !== 'success') {
                            layer.msg('提交失败', {icon: 2});
                            return false;
                        }
                        if (res.code === 0) {
                            layer.msg('提交成功', {icon: 1});
                        } else {
                            layer.msg(res.message, {icon: 2});
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}